<main class="main">
	<div class="container mx-auto">
		<section class="wrapper">
      <%= form_for(User.new, as: :user, html: {class: "lg:w-1/3 md:w-1/2 bg-white m-auto p-8 mt-12 flex flex-col gap-4 items-center"}, url: "/users/new", method: :post) do |f| %>

        <div class="heading">
          <h2 class="text-3xl">Sign up</h2>
        </div>

        <div class="input-control w-full">
          <%= f.label :user_name, class: "hidden" %>
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "border outline-none autofill:bg-[#fff] input-field w-full rounded-lg p-3", placeholder: "Your Username..." %>
        </div>

        <div class="input-control w-full">
          <%= f.label :email, class: "hidden" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border outline-none autofill:bg-[#fff] input-field w-full rounded-lg p-3", placeholder: "Your Email..." %>
        </div>

        <div class="input-control w-full">
          <%= f.label :password, class: "hidden" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "border outline-none autofill:bg-[#fff] input-field w-full rounded-lg p-3", placeholder: "Your Password (6 characters minimum)" %>
        </div>

        <div class="input-control">
          <%= f.submit "Sign up", class: "input-submit py-2 px-8 bg-blue-500 text-white w-full rounded-md hover:bg-blue-900 cursor-pointer" %>
        </div>
        <div class="flex justify-between items-center mt-3">
          <hr class="w-full">
          <span class="p-2 text-gray-400 mb-1">OR</span>
          <hr class="w-full">
        </div>
      <% end %>
      <div class="mx-auto lg:w-1/3 md:w-1/2 py-8">
        <%= button_to 'Sign up with Github', '/auth/github', class: "uppercase h-12 mt-3 text-white w-full rounded bg-gray-800 hover:bg-gray-900", data: { turbo: false } %>
        <%= button_to 'Sign up with Google', '/auth/google_oauth2', class: "uppercase h-12 mt-3 text-white w-full rounded bg-red-800 hover:bg-red-900", data: { turbo: false } %>
        <%= button_to 'Sign up with Facebook', '/auth/facebook', class: "uppercase h-12 mt-3 text-white w-full rounded bg-blue-800 hover:bg-blue-900", data: { turbo: false } %>
      </div>
    </section>
	</div>
</main>
